<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="card-img-overlay d-flex justify-content-center bg-opacity-04">
        <div class="m-auto w-75">
          <h3 class="text-success"><%= t("index.carrousel.zero_waste.title") %></h3>
          <p class="text-light"><strong><%= t("index.carrousel.zero_waste.body") %></strong></p>
        </div>
      </div>
      <%= image_tag "zero_dechet.jpg", loading: "lazy", class: "d-block carousel-img" %>
    </div>
    <div class="carousel-item active">
      <div class="card-img-overlay d-flex justify-content-center bg-opacity-04">
        <div class="my-auto w-75">
          <h3 class="text-success"><%= t("index.carrousel.handmade.title") %></h3>
          <p class="text-light"><strong><%= t("index.carrousel.handmade.body_html") %></strong></p>
        </div>
      </div>
      <%= image_tag "local.jpg", class: "d-block carousel-img" %>
    </div>
    <div class="carousel-item">
      <div class="card-img-overlay d-flex justify-content-center bg-opacity-04">
        <div class="m-auto w-75">
          <h3 class="text-success"><%= t("index.carrousel.local.title") %></h3>
          <p class="text-light"><strong><%= t("index.carrousel.local.body") %></strong></p>
        </div>
      </div>
      <%= image_tag "artisanal.jpg", loading: "lazy", class: "d-block carousel-img" %>
    </div>
  </div>
</div>
