<div class="container d-flex flex-column justify-content-center">
  <h2 class="pt-4 text-center text-warning"><%= t("stripe_fallback.cancel.title") %></h2>
  <p class="my-2"><%= t("stripe_fallback.cancel.p_1") %></p>
  <p><%= t("stripe_fallback.cancel.p_2") %></p>
  <div class="d-flex justify-content-center">
    <a class="m-2 btn btn-primary align-self-center" href="<%= cart_path(current_user.cart.id) %>"><%= t("stripe_fallback.cancel.button_1") %></a>
    <a class="m-2 btn btn-info align-self-center" href="<%= root_path %>"><%= t("stripe_fallback.cancel.button_2") %></a>
  </div>
</div>
