<div class="container d-flex flex-column justify-content-center">
  <h2 class="pt-4 text-center text-success"><%= t("stripe_fallback.success.title") %></h2>
  <p class="my-2"><%= t("stripe_fallback.success.p_1") %></p>
  <p class="my-2"><%= t("stripe_fallback.success.p_2") %></p>
  <div class="d-flex justify-content-center">
    <a class="m-2 btn btn-primary align-self-center" href="<%= shops_path %>"><%= t("stripe_fallback.success.button_1") %></a>
    <a class="m-2 btn btn-info align-self-center" href="<%= root_path %>"><%= t("stripe_fallback.success.button_2") %></a>
  </div>
</div>
