<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <h2 class="mt-4 text-center text-primary"><%= t("become_maker.title") %></h2>
    <p class="mt-4 text-center"><%= t("become_maker.subtitle") %></p>
    <h4><%= t("become_maker.title_1") %></h4>
    <p><%= t("become_maker.p_1") %></p>
    <h4><%= t("become_maker.title_2") %></h4>
    <p><%= t("become_maker.p_2.p_2-1") %></p>
    <p><%= t("become_maker.p_2.p_2-2") %></p>
    <ul>
      <li><%= t("become_maker.p_2.li_1_html") %></li>
      <li><%= t("become_maker.p_2.li_2_html") %></li>
      <li><%= t("become_maker.p_2.li_3_html") %></li>
    </ul>
    <h4><%= t("become_maker.title_3") %></h4>
    <p><%= t("become_maker.p_3") %></p>
    <h4><%= t("become_maker.title_4") %></h4>
    <p><%= t("become_maker.p_4.p_4-1") %></p>
    <ol>
      <li class="mb-3"><%= t("become_maker.p_4.li_1_html") %></li>
      <li class="mb-3"><%= t("become_maker.p_4.li_2_html") %></li>
      <li class="mb-3"><%= t("become_maker.p_4.li_3_html") %></li>
      <li class="mb-3"><%= t("become_maker.p_4.li_4_html") %></li>
      <li class="mb-3"><%= t("become_maker.p_4.li_5_html") %></li>
    </ol>

  </div>
  <div class="actions mt-3 d-flex justify-content-center">
    <%= link_to t("become_maker.button"), new_shop_path, :class=>"btn btn-success" %>
  </div>

</div>
