<div class="py-5 px-3 text-center bg-primary text-warning">
  <h2><%= t("index.title") %></h2>
  <p class="text-light"><%= t("index.subtitle") %></p>
</div>

<%= render 'carrousel' %>

<div class="d-flex flex-column pt-3 pb-5">
  <h3 class="text-center my-4"><%= t("landing_titles.highlighted_items") %></h3>
  <div class="d-flex flex-wrap justify-content-center">
    <% @items.each do |item| %>
      <%= render(ItemCardComponent.new(item: item)) do %>
        <%= render(IconsOverlayComponent.new(item: item, user: current_user))%>
      <% end %>
    <% end %>
  </div>
</div>

<div class="d-flex flex-column align-items-center bg-primary text-light py-5">
  <h4 class="text-center mb-4"><%= t("landing_titles.more_items") %></h4>
  <div class="d-flex justify-content-center vw-100 flex-wrap m-2">
    <% @categories.each do |category| %>
      <div class="d-flex flex-column align-items-center">
        <div class="card card-item rounded border-0 m-3">
          <%= image_tag "category/#{category.name.downcase}.jpg" %>
          <%= link_to "", category_path(category.id), class: "stretched-link" %>
        </div>
        <p><%= category.name %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="actions m-5 d-flex justify-content-center">
  <%= link_to t("index.button.become_maker"), become_maker_path, :class=>"btn btn-success btn-catch" %>
</div>
