<div class="py-5 px-3 text-center bg-primary text-warning">
  <h2><%= t("index.title") %></h2>
  <p class="text-light font-italic"><%= t("index.subtitle") %></p>
</div>

<%= render 'carrousel' %>

<div class="d-flex flex-wrap justify-content-center">
  <% @items.each do |item| %>
    <%= render 'items/item_card', item: item %>
  <% end %>
</div>

<div class="actions m-5 d-flex justify-content-center">
  <%= link_to t("index.button.become_maker"), become_maker_path, :class=>"btn btn-success btn-catch" %>
</div>
