<div class="container w-50">
  <h2 class="mt-4 text-center text-primary">Editer mon mail et mot de passe</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-4">
      <%= f.label 'Email' %><br />
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field mt-4">
      <%= f.label 'Nouveau mot de passe' %> <i>(laisser blanc si vous ne souhaitez pas le modifier)</i><br />
      <%= f.password_field :password, autocomplete: "nouveau mot de passe", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </div>

    <div class="field mt-4">
      <%= f.label 'Confirmation du mot de passe' %><br />
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= f.label 'Mot de passe actuel' %> <i>(votre mot de passe actuel est nécessaire pour confirmer vos changements)</i><br />
      <%= f.password_field :current_password, class: "form-control" %>
    </div>

    <div class="actions mt-4">
      <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="text-right">
    <em>Pas content ?<br/>
    <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-danger" %></em>
  </div>
  <%= link_to "Retour", :back %>
</div>
