<div class="container w-50">
  <h2 class="mt-4 text-center text-primary">Créer mon compte</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-4">
      <%= f.label 'Email' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= f.label 'Mot de passe' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= f.label 'Confirmer le mot de passe' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions mt-4">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="text-right">
    <em><%= render "devise/shared/links" %></em>
  </div>
</div>
