<div class="container w-75 mt-4">

  <%= form_for(:shop, url: shops_path(current_user.id), html: { method: :post, enctype: "multipart/form-data" }) do |f| %>

    <div class="row">
      <div class="col">
        <%= f.label t("shop.new.form.brand_name") %>
      </div>
      <div class="col">
        <%= f.label t("shop.new.form.email_pro") %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= f.text_field :brand, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.text_field :email_pro, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <%= f.label t("shop.new.form.website.title") %>
      </div>
      <div class="col-3">
        <%= f.label t("shop.new.form.add_images"), class: "font-weight-bold" %>
      </div>
      <div class="col-9">
        <%= f.text_field :website, placeholder: t("shop.new.form.website.placeholder"), class: "form-control" %>
      </div>
      <div class="col-3">
        <%= file_field_tag "files[]", multiple: true %>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.label t("shop.new.form.description") %><br />
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= f.label t("shop.new.form.company_id.title") %><br />
      <%= f.text_field :compagny_id, placeholder: t("shop.new.form.company_id.placeholder"), class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= t("shop.new.form.bank_notice") %>
    </div>

    <div class="field mt-4">
      <%= f.check_box(:terms_of_service) %>
      <%= f.label(:terms_of_service, t("shop.new.form.cgv_agreement")) %>
    </div>

    <div  class="d-flex justify-content-around my-4">
      <%= link_to t("button.see.cgv"), cgv_path, :class=>"btn btn-primary" %>

      <div class="actions">
        <%= f.submit t("button.send_.form"), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

</div>
