<div class="container w-75 mt-4">

  <%= form_for(:shop, url: shops_path(current_user.id), html: { method: :post, enctype: "multipart/form-data" }) do |f| %>

    <div class="row">
      <div class="col">
        <%= f.label 'Nom de ta marque' %>
      </div>
      <div class="col">
        <%= f.label 'Email profesionnel' %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= f.text_field :brand, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.text_field :email_pro, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <%= f.label 'Site web' %>
      </div>
      <div class="col-3">
        <%= f.label 'Ajouter les photos :', class: "font-weight-bold" %>
      </div>
      <div class="col-9">
        <%= f.text_field :website, placeholder: "Si tu n'en as pas, envoie-nous jusqu'à 5 photos de tes produits", class: "form-control" %>
      </div>
      <div class="col-3">
        <%= file_field_tag "files[]", multiple: true %>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.label 'Description' %><br />
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= f.label 'Numéro de SIRET' %><br />
      <%= f.text_field :compagny_id, placeholder: "n° à 14 chiffres", class: "form-control" %>
    </div>

    <div class="field mt-4">
      Pour recevoir l'argent de tes ventes, il te faudra ensuite garder à jour tes informations bancaire directement depuis ton compte.
    </div>

    <div class="field mt-4">
      <%= f.check_box(:terms_of_service) %>
      <%= f.label(:terms_of_service, 'J\'accepte les conditions générales de vente') %>
    </div>

    <div  class="d-flex justify-content-between mt-4">
      <%= button_to "Voir les CGVs (pas encore branché)", root_path, {method: :get, :class=>"btn btn-primary"} %>

      <div class="actions">
        <%= f.submit "Envoyer le formulaire", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>

</div>
