<div class="container w-75 mt-4">

  <%= form_for(:shop, url: shops_path(current_user.id), html: { method: :post, enctype: "multipart/form-data" }) do |f| %>

    <div class="row">
      <div class="col">
        <%= f.label 'Nom de ta marque' %>
      </div>
      <div class="col">
        <%= f.label 'Email profesionnel' %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= f.text_field :brand, class: "form-control" %>
      </div>
      <div class="col">
        <%= f.text_field :email_pro, class: "form-control" %>
      </div>
    </div>

    <div class="field mt-4">
      <%= f.label 'Site web' %><br />
      <%= f.text_field :website, placeholder: "Si tu n'en as pas, envoie-nous jusqu'à 5 photos de tes produits", class: "form-control" %>
    </div>

    <div class="field mt-4">
      <%= f.label 'Description' %><br />
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field mt-4">
      Nous avons également besoin que tu nous envoies :
      <ul>
        <li>Ton Kbis pour que nous verifions que ton activité est bien professionelle</li>
        <li>Ton RIB pro pour que nous puissions te faire les virements correspondant à tes ventes chaque mois</li>
        <li>Jusqu'à 5 photos de tes produits si tu n'as pas de site web pour que nous puissions voir à quoi ressemble tes créations</li>
      </ul>
      <%= f.label 'Ajouter les documents : ', class: "font-weight-bold" %>
      <%= file_field_tag "files[]", multiple: true %>
    </div>


    <div class="actions mt-4">
      <%= f.submit "Envoyer le formulaire", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
