<div class="bg-primary">
  <div class="container">
    <h2 class="pt-4 text-center text-light"><%= @shop.brand %></h2>
    <p class="text-center text-light"><%= @shop.description %></p>
    <div class="d-flex justify-content-around">
      <p class="text-light"><%= @shop.website %></p>
      <p class="text-light"><%= @shop.email_pro %></p>
    </div>
    <div class="d-flex justify-content-between">
      <ul class="list-unstyled text-white d-flex">
        <% @shop.shop_images.each do |shop_image| %>
          <li class="m-3"><%= shop_image.image.metadata['filename'] %></li>
        <% end  %>
      </ul>
      <%= button_to "Modifier", edit_shop_path(@shop.id), {method: 'get', form_class: "m-2 pt-1", class: "btn btn-outline-warning" } %>
    </div>
  </div>
</div>
