<% if @overlay %>
  <div class="accordion-container">
    <div class="accordion-overlay">
      <%= @overlay %>
    </div>
    <div class="m-2 rounded accordion">
      <div class="d-flex justify-content-between" style="margin: 0.2rem">
        <p><%= @title %></p>
        <p><%= @label %></p>
        <%= image_tag("icons/angle_down.svg", class: "color-black-filtered-to-primary card-icon-resize") %>
      </div>
      <div class="accordion-content">
        <%= content %>
      </div>
    </div>
  </div>

<% else %>

  <div class="m-2 rounded accordion">
    <div class="d-flex justify-content-between">
      <p><%= @title %></p>
      <p><%= @label %></p>
      <%= image_tag("icons/angle_down.svg", class: "color-black-filtered-to-primary card-icon-resize") %>
    </div>
    <div class="accordion-content">
      <%= content %>
    </div>
  </div>

<% end %>
