<div class="address-container card border-primary btn-outline-light m-2 <%= selected ? "card-selected" : "text-dark" %>">
  <div class="card-body">
    <h5 class="card-title"><%= @address.first_name %> <%= @address.last_name %></h5>
    <div class="card-text">
      <%= @address.address_line_2 %> <br>
      <%= @address.address_line_1 %>,
    </div>
    <div><%= @address.zip_code %> <%= @address.city %></div>
  </div>

  <%= render(LinkComponent.new(
    link: on_click_url(@type),
    html_options: { method: @on_submit_method, class: "stretched-link text-decoration-none" }
  )) %>
  <%= render(LinkComponent.new(
    link: user_address_path(@user.id, @address.id),
    html_options: { method: :delete, class: "mt-2 z-index-1 display-icon" },
    icon: :delete,
    render: !@address.shop.present?
  )) %>
</div>
