<% if @package.is_valide %>
  <div 
    id="shop_<%= @package.items.first.respond_to?(:shop) ? @package.items.first.shop.id : @package.items.first.item.shop.id %>"
    class="m-3 d-flex justify-content-between"
  >
    <p><%= "#{t("cart.show.shipping_fee")} #{t("currency", price: @package.shipping_price)}" %></p>
    <p><%= t("cart.show.order_price") %> <strong><%= t("currency", price: @package.total_price) %></strong></p>
  </div>
<% else %>
  <div class="m-3 d-flex flex-column">
    <% @package.errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>
