<div id="item-<%= @item.id %>" class="card card-width border-0 m-3">
  <% if @item.available_qty > 0 %>
    <%= link_to item_path(@item.id), class: "text-decoration-none text-dark" do %>
      <div class="card-item rounded">
        <%= image_tag(@item.cover_picture_with_fallback(:card), loading: "lazy", alt: "#{@item.name}") %>
      </div>
    <% end %>
  <% else %>
    <div class="card-item">
        <%= image_tag(@item.cover_picture_with_fallback(:card), loading: "lazy", alt: "#{@item.name}") %>
      <span class="card-img-overlay text-danger font-weight-bold text-center d-flex align-items-center item-not-available"><%= t("item.not_available") %></span>
    </div>
  <% end %>
  <p class="text-center">
    <small><%= @item.name %></small>
  </p>
  <%= content %>
</div>
