<div class="container">
  <h2 class="mt-4 text-center text-primary"><%= t("user.show.title") %></h2>

  <div class="mt-3">
    <h3><%= t("user.show.title_1") %></h3>
    <div class="d-flex justify-content-between border border-primary rounded p-3 m-2">
        <div><%= t("user.show.email_password") %></div>
        <div><%= @user.email %></div>
    </div>
    <div class="d-flex justify-content-end">
      <%= link_to t("button.edit"), edit_user_registration_path, :class=>"btn btn-warning" %>
    </div>
  </div>

  <h3><%= t("user.show.title_2", count: current_user.addresses.count) %></h3>
  <div class="d-flex flex-wrap">
    <%= render(AddressCardComponent.with_collection(
      current_user.addresses,
      user: current_user,
    )) %>
  </div>
  <div class="d-flex justify-content-end">
    <%= render(LinkComponent.new(
      title: t("button.add_address"),
      link: new_user_address_path(current_user.id),
      class_name: "btn btn-primary",
    )) %>
  </div>

  <% if @user.is_maker %>
    <div class="mt-3">
      <h3><%= t("user.show.title_3", brand: @user.shop.brand) %></h3>
      <div class="border border-primary rounded p-3 m-2">
        <div class="d-flex justify-content-between">
          <div><%= t("user.show.email_pro") %></div>
          <div><%= @user.shop.email_pro %></div>
        </div>
        <div class="d-flex justify-content-between">
          <div><%= t("user.show.website") %></div>
          <div><%= @user.shop.website %></div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to t("button.access"), shop_path(current_user.shop.id), :class=>"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
