<h2 class="mt-4 text-center text-primary"><%= @shop_image.image.metadata['filename'] %></h2>
<div class="mt-4 d-flex flex-column align-items-center">
  <% if @shop_image.image.metadata['mime_type'] == "application/pdf" %>
    <%= link_to "cliquez ici pour voir votre PDF", @shop_image.image_url, target: "_blank" %>
  <% else %>
    <%= image_tag @shop_image.image_url, style: "max-height:200px; max-width:300px" %>
  <% end %>
  <%= form_for(:shop_image, url: shop_image_path(@shop_image.id), html: { method: :put, enctype: "multipart/form-data" }) do |f| %>

    <div class="field mt-4 text-center">
      <%= f.label 'Ajouter un nouveau document pour changer l\'actuel :', nil, class: "font-weight-bold" %><br>
      <%= f.file_field :image %>
    </div>

    <div class="m-4 d-flex justify-content-between">
      <%= link_to "Retour", edit_shop_path(@shop_image.shop.id), {method: "get", class: "btn btn-primary" } %>
      <%= f.submit "Changer le document", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
