<div class="container">
  <h2 class="pt-4 text-center text-primary"><%= t("order.new.your_address") %></h2>
  <div class="d-flex flex-wrap">
    <%= render(AddressCardComponent.with_collection(
      @order.user.addresses,
      user: current_user,
      type: :delivery_address
    )) %>
  </div>
  <div class="d-flex justify-content-end">
    <%= render(LinkComponent.new(
      title: t("button.add_address"),
      link: new_user_address_path(@order.user.id),
      html_options: { class: "btn btn-primary" },
    )) %>
  </div>
</div>
<div class="container">
  <h2 class="pt-4 text-center text-primary"><%= t("order.new.your_order") %></h2>
  <ul class="my-3 list-group">
    <% @ordered_cart_items.each do |cart_item| %>
      <%= render(ItemRowComponent.new(item: cart_item.item, cart: cart_item.cart )) do %>
        <span class="badge badge-primary badge-pill">x <%= cart_item.item.get_qty_in_cart(current_user) %></span>
      <% end %>
    <% end %>
  </ul>

    <%= render(DisplayPriceComponent.new(items: @ordered_cart_items)) %>

    <script src="https://js.stripe.com/v3"></script>
    <%= render(ButtonComponent.new(
      title: t("button.order"),
      link: orders_path,
      html_options: { id: "checkout-button", form_class: "d-flex justify-content-end", data: { session_id: @session.id }},
      disable: !@order.user.addresses.exists? || !@order.user.addresses.where(id: @order.user.delivery_address).exists?,
      disable_text: t("button.disabled.add_address")
    )) %>
</div>

<%= javascript_pack_tag 'stripe' %>
