<% shops.each do |shop| %>
  <div class="p-4 border-top border-bottom border-dark bg-light">
    <div class="d-flex justify-content-center">
      <%= image_tag shop.show_image(shop), class: "cart-shop-img-resize" %>
    </div>
    <ul class="list-group mt-4">
      <% cart.get_cart_items_from_a_specific_shop(shop).each do |cart_item| %>
        <%= render 'items/item_row', cart_item: cart_item %>
      <% end %>
    </ul>
    <div class="m-3 d-flex justify-content-between">
      <p>Prix de la commande : <%= cart.get_total_price_from_a_specific_shop(shop) %>€</p>
      <p>Frais de port : <%= shipping_cost(cart.get_shipping_price(shop)) %>€</p>
      <p><strong>Prix total : <%= cart.get_total_price_from_a_specific_shop(shop) + shipping_cost(cart.get_shipping_price(shop)) %>€</strong></p>
    </div>
    <div class="d-flex justify-content-end">
      <% if cart.get_shipping_price(shop) > 30000 %>
        <p class="text-center font-italic text-danger">Votre panier ne peux pas être expédié par colis par <%= shop.brand %> car le cumule des articles pèse trop lourd. Veuillez supprimer des articles du panier ou contacter directement notre artisant pour faire vos achats.</p>
      <% else %>
        <%= button_to "Passer commande à #{shop.brand}", new_order_path, method: 'get', class: 'btn btn-success', params: {shop_id: shop.id} %>
      <% end %>
    </div>
  </div>
<% end %>
