<div class="cart-container">
  <h2 class="pt-4 text-center text-primary"><%= t("cart.show.title") %></h2>
  <p class="text-center"><%= t("cart.show.click_and_collect_notice_html", href: link_to(t("adnd"), "https://goo.gl/maps/NPUzNAjd2rCjLcVJ8",  { target: "_blank"})) %></p>
  
  <% if @cart.cart_items.present? %>
    <% @cart.get_items_shops.each do |shop| %>

      <% get_items_from(shop) %>
      <% set_package %>

      <div class="m-3 p-4 border-top border-bottom border-dark bg-light">
        <div class="d-flex justify-content-center mb-4">
          <%= image_tag shop.show_image, class: "cart-shop-img-resize" %>
        </div>
        <% @cart.get_cart_items_from_a_specific_shop(shop).each do |cart_item| %>
          <%= render(ItemRowComponent.new(
            item: cart_item.item
          )) do %>
            <%= render(LinkComponent.new(
              link: cart_item_path(cart_item.id, operation: "minus"),
              icon: :minus,
              html_options: { method: "put", class: "mx-1 z-index-1", remote: true }
            )) %>
            <p id="qty_in_cart_item_<%= cart_item.item.id %>" style="margin-bottom: 0"><%= cart_item.item_qty_in_cart %></p>
            <%= render(LinkComponent.new(
              link: cart_item_path(cart_item.id, operation: "plus"),
              icon: :plus,
              html_options: { method: "put", class: "mx-1 z-index-1", remote: true }
            )) %>
            <div id="total_price_item_<%= cart_item.item.id %>" class="mr-3">
              = <strong><%= cart_item.total_price %>€</strong>
            </div>
            <%= render(LinkComponent.new(
              link: cart_item_path(cart_item.id),
              icon: :delete,
              html_options: { method: "delete", class: "mx-1 z-index-1", remote: true }
            )) %>
          <% end %>
        <% end %>
        <%= render(DisplayPriceComponent.new(items: @cart.get_cart_items_from_a_specific_shop(shop))) %>
        <div class="d-flex justify-content-end">
          <%= render(ButtonComponent.new(
            title: t("button.order_.from_shop", shop: shop.brand),
            link: new_order_path,
            html_options: { method: :get, params: { shop_id: shop.id } },
            disable: !@package.is_valide,
            disable_text: t("button.disabled.item_values_error", shop: shop.brand)
          )) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center"><%= t("cart.show.no_item") %></p>
  <% end %>

</div>
