<div class="row">
  <div class="col-6">
    <%= f.label t("address.form.first_name") %>
  </div>
  <div class="col-6">
    <%= f.label t("address.form.last_name") %>
  </div>
</div>
<div class="row mb-3">
  <div class="col-6">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="col-6">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>

<div class="field mt-4">
  <%= f.label t("address.form.address_line_1") %><br />
  <%= f.text_field :address_line_1, class: "form-control" %>
</div>

<div class="field mt-4">
  <%= f.label t("address.form.address_line_2") %><br />
  <%= f.text_field :address_line_2, class: "form-control" %>
</div>

<div class="row mt-4">
  <div class="col-6">
    <%= f.label t("address.form.zip_code") %>
  </div>
  <div class="col-6">
    <%= f.label t("address.form.city") %>
  </div>
</div>
<div class="row mb-3">
  <div class="col-6">
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>
  <div class="col-6">
    <%= f.text_field :city, class: "form-control" %>
  </div>
</div>
