<div class="card-body">
  <h5 class="card-title"><%= address.first_name %> <%= address.last_name %></h5>
  <div class="card-text">
    <%= address.address_line_2 %> <br>
    <%= address.address_line_1 %>,
  </div>
  <div><%= address.zip_code %> <%= address.city %></div>
</div>