<div class="container w-50">
  <h2 class="mt-4 text-center text-primary"><%= t("address.edit.title") %></h2>

  <%= form_with model: @address, url: user_address_path(current_user.id, @address.id), method: "put" do |f| %>

    <%= render 'address_form', f: f %>

    <div class="actions mt-4 d-flex justify-content-between">
      <%= link_to t("button.back"), :back, class: "btn btn-primary" %>
      <%= f.submit t("button.confirm_.changes"), class: "btn btn-success" %>
    </div>
  <% end %>
</div>
