  <div class="card border-0 bg-light text-dark m-5" style="height:300px;width:200px">
    <img src="<%= item.item_pictures.last.picture[:card].url %>" class="card-img" alt="...">
    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-end">
      <%= link_to item.name, item_path(item.id), class: "btn btn-primary stretched-link" %>
    </div>
    <div class="delete-icon">
      <% if can? :manage, item %>
        <%= link_to "", edit_item_path(item.id), class: "fas fa-edit color-change-to-warning mt-2" %>
        <%= link_to "", item_path(item.id), method: "delete", data: { confirm: "Etes vous sûre?" }, class: "fas fa-trash color-change-to-danger mt-2" %>
      <% elsif current_user.present? %>
        <%= link_to "", cart_items_path(item_id: item, cart_id: current_user.cart.id, item_qty_in_cart: 1), method: "post", class: "fas fa-cart-plus color-change-to-success mt-2" %>
      <% end %>
    </div>
  </div>
