<div class="container">
  <h2 class="mt-4 text-center text-primary"><%= t("item.edit.title", name: @item.name) %></h2>

  <%= form_for(:item, url: item_path(@item.id), authenticity_token: false, html: { method: :put, enctype: "multipart/form-data", class: "mt-4" }) do |f| %>
    <%= token_tag %>

    <%= render 'item_form', f: f %>

    <div class="actions mt-4 d-flex justify-content-between">
      <%= link_to t("button.back"), :back, class: "btn btn-primary" %>
      <%= f.submit t("button.edit_.my_info"), class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
