<footer class="bg-light p-4 mt-3">
  <div class="row min-vh-15">
    <div class="col-sm text-center">
      <h4 class="pt-2"><%= t("footer.body_1.title") %></h4>
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-facebook-square"></i>
          <a class=" text-dark" href="https://www.facebook.com/LatelierdesNouveauxDesigns/"><%= t("footer.body_1.social_network_1") %></a>
        </li>
        <li>
          <i class="fab fa-linkedin"></i>
          <a class=" text-dark" href="https://www.linkedin.com/company/atelier-des-nouveaux-designs/"><%= t("footer.body_1.social_network_2") %></a>
        </li>
        <li>
          <i class="fas fa-globe"></i>
          <a class=" text-dark" href="https://www.nouveauxdesigns.fr/"><%= t("footer.body_1.social_network_3") %></a>
        </li>
      </ul>
    </div>

    <div class="col-sm text-center">
			<h4 class="pt-2"><%= t("footer.body_2.title") %></h4>
			<ul class="list-unstyled">
        <li><%= link_to t("footer.body_2.p_1"), become_maker_path, :class=> "text-dark" %></li>
        <li><%= link_to t("footer.body_2.p_2"), cgv_path, class: "text-dark" %>  </li>
        <li><%= link_to t("footer.body_2.p_3"), "#", class: "text-dark" %></li>
        <li><%= link_to t("footer.body_2.p_4"), "#", class: "text-dark" %></li>
			</ul>
		</div>

    <div class="col-sm text-center">
			<h4 class="pt-2"> Contact </h4>
      <ul class="list-unstyled">
        <li><%= link_to t("footer.body_3.p_1"), "#", class: "text-dark" %></li>
        <li><%= link_to t("footer.body_3.p_2"), "https://goo.gl/maps/M67EkJ84XG3dgmNk7", class: "text-dark" %></li>
      </ul>
		</div>
  </div>
  <div class="footer-copyright text-center mt-3">
    © 2020 Upcycling: 
    <%= link_to t("footer.upcycling"), "https://fr.wikipedia.org/wiki/Surcyclage", class: "text-dark" %>
  </div>
</footer>
