<nav class="navbar-expand-lg navbar-light bg-light">
  <div class="d-flex justify-content-between">
    <div class="container mt-4">
      <%= button_to "Nos Créat.rices.eurs", root_path, class: "btn btn-primary" %>
    </div>
    <%= link_to root_path, class: "mt-2 container d-flex justify-content-center" do %>
      <%= image_tag "fond_logo_transparent.png" %>
    <% end %>
    <div class="container d-flex justify-content-end mt-3">
      <%= link_to "", root_path, :class=>"m-2 fas fa-shopping-cart fa-2x", :style => "color:#1e185f", :id => "cart-navbar-icon" %>
      <%= link_to "", root_path, :class=>"m-2 fas fa-user fa-2x", :style => "color:#1e185f", :id => "cart-navbar-icon" %>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Catégorie1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Catégorie2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Catégorie3</a>
      </li>
    </ul>
  </div>
</nav>
